{% extends 'base.html.twig' %}

{% block title %}Profil de {{app.user.nom}} {{app.user.prenom}}
{% endblock %}

{% block body %}
	{% include "tools/userNav.html.twig" %}
	<main class="container">
		<section class="row">
			<h1 class="mb-5">Bonjour {{app.user.nom}} {{app.user.prenom}}</h1>
			<div class="col-lg-6 border-end border-dark">
				<h2 class="text-decoration-underline mb-3">Mes informations:</h2>

				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="{{app.user.email}}" readonly=true>
					<button class="btn btn-secondary" type="button" id="button-addon1">Modifier</button>
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="{{app.user.adresse}}" readonly=true>
					<button class="btn btn-secondary" type="button" id="button-addon1">Modifier</button>
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="{{app.user.codePostal}}" readonly=true>
					<button class="btn btn-secondary" type="button" id="button-addon1">Modifier</button>
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="{{app.user.ville}}" readonly=true>
					<button class="btn btn-secondary" type="button" id="button-addon1">Modifier</button>
				</div>
				{# <div class="input-group mb-3">
				<label>Date d'inscription</label>
					<input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="{{app.user.roles}}" readonly=true>
					
				</div> #}
			</div>
			<div class="col-lg-6 border-start border-dark">
				<h2 class="text-decoration-underline mb-3">Mes commandes:</h2>
				
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th scope="col">Numéro de commande</th>
							<th scope="col">Date</th>
							<th scope="col">Consulter</th>
							<th scope="col">Facture</th>

						</tr>
					</thead>
					{% for commande in commandes %}
						<tbody>
							<tr>
								<td>{{commande.reference}}</td>
								<td>{{commande.createdAt.format('d/m/y h:m:s')}}</td>
								<td class="text-center"><a class="btn btn-secondary" href="/order{{commande.reference}}/details">voir</a></td>
								<td class="text-center"><a class="btn btn-secondary" href="/generate-pdf/{{commande.id}}">PDF</a></td>
							</tr>
						</tbody>
						{% else %}
                        <tr>
                            <td colspan="3" class="text-center">Aucune commande à afficher</td>
                        </tr>
					{% endfor %}
				</table>
			</div>

			

			{# Ajouter les informations de l'utilisateurs et y mettre une option afin de pouvoir les modifier 			 #}
		</section>
	</main>
	{% include "tools/footer.html.twig" %}

{% endblock %}
