{{form_start(formCategorie)}}
	<div class="row">
		<div class="col-lg-10 col-md-10 border-dark">
			{{form_row(formCategorie.nom)}}
			{{form_row(formCategorie.parent)}}
		</div>
	</div>

	<div class="text-center">
		<button type="submit" class="btn btn-primary mt-2">{{ button_label|default('Ajouter Catégorie')}}</button>
		{# On met en place un bouton variable dont la valeur par défaut est ajouter #}
	</div>
{{form_end(formCategorie)}}
