{% extends 'base.html.twig' %}

{% block title %}Liste des produits de la catégorie
	{{ categories.nom }}
{% endblock %}
{% block stylesheets %}
	
{% endblock %}
{% block body %}


	{% include "tools/userNav.html.twig" %}
	<main class="container">
		<section class="row">
			{% set path = 'categories_list' %}
			{% set slug = categories.slug %}
			{% set pages = produits.pages %}
			{% set currentPage = produits.page %}
			<div class="col-12 mt-3">
				{% include "tools/pagination.html.twig" %}
			</div>


			<h1>Liste des produits de la catégorie
				{{ categories.nom }}</h1>

			{% for produit in produits.data %}
				<div class="col-lg-3 col-md-3 col-sm- col-6 mb-2">
					<div class="card h-100">
						<img src="{{asset('uploads/produits/mini/300x300-'~ produit.images[0].nom)}}" class="card-img-top" alt="{{produit.nom}}">
						<div class="card-body">
							<h5 class="card-title">{{produit.nom}}</h5>
							<p class="card-text">{{produit.description}}</p>
							<a href="{{ path('produits_details', {slug: produit.slug}) }}" class="btn btn-primary">voir les détails</a>
						</div>
					</div>
				</div>
			{% endfor %}

			
			<div class="col-12 mt-3">
				{% include "tools/pagination.html.twig" %}
			</div>
		</section>
	</main>

{% include "tools/footer.html.twig" %}
{% endblock %}
