{% extends 'base.html.twig' %}

{% block title %}Produits de la catégorie
	{{ categories.nom }}
{% endblock %}
{% block stylesheets %}
	<style>
		.max-lines{ //class pour limiter le nombre de lignes visibles sur la card de chaque produit
			--max_lines : 3;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: var(--max_lines);
			line-clamp: var(--max_lines);
			-webkit-box-orient: vertical;
		}
	</style>
{% endblock %}
{% block body %}
	{% include "tools/userNav.html.twig" %}
	<main class="container">
		<section class="row">
			{% if produits is empty %}
				<div class="text-center">
					<p>Cette catégorie ne contient pas encore de produits</p>
				</div>
			{% else %}
				{% set path = 'categories_list' %}
				{% set slug = categories.slug %}
				{% set pages = produits.pages %}
				{% set currentPage = produits.page %}
				<div class="col-12 mt-3">
					{% include "tools/pagination.html.twig" %}
				</div>

				<h1>Produits de la catégorie
					{{ categories.nom }}</h1>

				{% for produit in produits.data %}
					<div class="col-lg-3 col-md-3 col-sm- col-6 mb-2">
						<div class="card h-100">
							<a href="{{ path('produits_details', {slug: produit.slug}) }}"><img src="{{asset('uploads/produits/mini/300x300-'~ produit.images[0].nom)}}" class="card-img-top" alt="{{produit.nom}}"></a>
							<div class="card-body">
								<h5 class="card-title max-lines" style="--max_lines:1;">{{produit.nom}}</h5>
								<h6>{{produit.prix / 100}}€</h6>
								<p class="card-text max-lines" style="--max_lines:2;">{{produit.description}}</p>
								<a href="{{ path('produits_details', {slug: produit.slug}) }}" class="btn btn-primary">Voir</a>
								<a href="{{ path('cart_add', {id: produit.id})}}" class="btn btn-success">Ajouter</a>
							</div>
						</div>
					</div>
				{% endfor %}

				
				<div class="col-12 mt-3">
					{% include "tools/pagination.html.twig" %}
				</div>
					
			{% endif %}
		
		</section>
	</main>

{% include "tools/footer.html.twig" %}
{% endblock %}
