{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}

	{% include "tools/userNav.html.twig" %}
	<main class="container">
		<div class="col-lg-6 mx-auto">
			<div class="border border-2 border-dark rounded-4 mt-5">
				<div class="text-center my-3">
					<h1 class="text-danger">Hello
						{% if app.user %}
							{{app.user.prenom}}
						{% endif %}, Welcome on
						{{ nomSite }}</h1>
				</div>
			</div>
		</div>

		<section class="row mt-2">
			{% for category in categories %}
				{% if category.parent == null %}
					<div class="col-12">
						<h2>{{ category.nom|capitalize }}</h2>
					</div>
				{% else %}
					<div class="col-lg-3 col-md-3 col-sm-4 mt-2">
						<div class="card h-100 border-dark" id="card">
							<div class="card-body">
								<h5 class="card-title">{{category.nom|capitalize}}</h5>
								<a href="{{ path('categories_list', {slug: category.slug})}}" class="btn btn-primary">Voir</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</section>
	</main>
	<div class="footer">
		{% include "tools/footer.html.twig" %}
	</div>
{% endblock %}
