<h5>Nouveau message de contact</h5><br><br>

<p>Bonjour,<br>

Vous venez de recevoir un message depuis votre site MySneakersBox<br><br>

Expéditeur: {{nom}} {{prenom}}<br>

Email: {{ user_email }}<br>

Sujet: {{ sujet }}<br>

Message: {{ message }}<br><br>

Cordialement,<br>
L’équipe MySneakersBox</p>